@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --font: "Outfit", sans-serif;
    --pcolor: #c68313;
}

.review-section{
    display: flex;
    justify-content: center;
    margin: 1rem 2rem;
    flex-direction: column;
}

.text{
    text-align: center;
    line-height: 4rem;
}

.text h2{
    font-family: var(--font);
    font-size: clamp(1.5rem, calc(1.5vw + 1rem), 5rem);
    font-weight: 600;
}

.text p{
    font-size: 1em;
    font-family: var(--font);
}

.text p span{
    padding: 16px 16px;
    color: #c68313;
    background-color: #c6831350;
    border-radius: 4px;
    font-weight: bold;
}


.carousel {
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.card-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.reviewc1 {
  min-width: 80vw;
  max-width: 350px;
  flex: 0 0 80vw;
  margin: 10px;
  background: #fff;
  padding: 40px 20px;
  text-align: center;
  gap: 1rem;
  border: 4px solid var(--pcolor);
  box-sizing: border-box;
  border-radius: 12px;
}

@media (min-width: 600px) {
  .reviewc1 {
    min-width: 300px;
    flex: 0 0 300px;
    padding: 60px 60px;
  }
}

.carousel-dots {
  text-align: center;
  margin-top: 1rem;
}

.carousel-dots .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  background: #c68313;
  opacity: 0.3;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dots .dot.active {
  opacity: 1;
}
